<div class="jumbtron">
    <h1 class="display-4 text-center"> Inventario ITSense </h1>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h6 class="text-center"> Agregar Producto </h6>
            <br>
            <app-inventario-producto></app-inventario-producto>
        </div>
        <div class="col-md-8">
            <h6 class="text-center"> Inventario </h6>
            <app-inventario-list></app-inventario-list>
        </div>        
    </div>

    <h2 class="display-5 text-center"> Registrar movimientos  </h2>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <app-movimiento></app-movimiento>
        </div>       
    </div>    
</div>
